### 1. converting data types

In [11]:
import pandas as pd

data = pd.read_csv("./data_format.csv")

print(data.dtypes)
print(data.columns)

data["Sales"] = pd.to_numeric(data["Sales"])
data["Date"] = pd.to_datetime(data["Date"])
print(data.dtypes)

print(data)

Date       object
Product    object
Sales       int64
dtype: object
Index(['Date', 'Product', 'Sales'], dtype='object')
Date       datetime64[ns]
Product            object
Sales               int64
dtype: object
         Date Product  Sales
0  2022-01-01       A     10
1  2022-01-02       B     15
2  2022-01-03       C     20
3  2022-01-04       D     25
4  2022-01-05       A     30
..        ...     ...    ...
60 2027-01-01       C     35
61 2027-01-02       D     40
62 2027-01-03       A     45
63 2027-01-04       B     50
64 2027-01-05       C     50

[65 rows x 3 columns]

In [22]:
import pandas as pd

data = pd.read_csv("./data_format.csv")
print(data)
data["Sales"] = pd.to_numeric(data["Sales"])

# convert a column from text to datetime
data["Date"] = pd.to_datetime(data["Date"])

# convert a datatime  to a standardized format
data["date_stan"] = data["Date"].dt.strftime('%Y-%m-%d')

print(data)

          Date Product  Sales
0   01-01-2022       A     10
1   01-02-2022       B     15
2   01-03-2022       C     20
3   01-04-2022       D     25
4   01-05-2022       A     30
..         ...     ...    ...
60  01-01-2027       C     35
61  01-02-2027       D     40
62  01-03-2027       A     45
63  01-04-2027       B     50
64  01-05-2027       C     50

[65 rows x 3 columns]
         Date Product  Sales   date_stan
0  2022-01-01       A     10  2022-01-01
1  2022-01-02       B     15  2022-01-02
2  2022-01-03       C     20  2022-01-03
3  2022-01-04       D     25  2022-01-04
4  2022-01-05       A     30  2022-01-05
..        ...     ...    ...         ...
60 2027-01-01       C     35  2027-01-01
61 2027-01-02       D     40  2027-01-02
62 2027-01-03       A     45  2027-01-03
63 2027-01-04       B     50  2027-01-04
64 2027-01-05       C     50  2027-01-05

[65 rows x 4 columns]

### 2. addressing incosistent data

In [28]:
data1 = pd.read_csv("./data_formatting_2.csv")

data1["Weight_kg"] = data1["Weight"].str.replace('kg', '').astype(int)
data1["units_new"] = data1["units"].str.strip().str.lower()
data1["categorey"] = data1["Name"].replace({'A': "Category A", 'B': "Category B"})
print(data1.dtypes)
print(data1)
consistent_data = data1.iloc[:, 3:]

Name         object
Weight       object
units        object
Weight_kg     int32
units_new    object
categorey    object
dtype: object
   Name Weight    units  Weight_kg units_new   categorey
0     A   10kg   Text           10      text  Category A
1     B   20kg    tExt          20      text  Category B
2     A   30kg     tExT         30      text  Category A
3     A   20kg   Text           20      text  Category A
4     B   30kg    tExt          30      text  Category B
5     A   20kg     tExT         20      text  Category A
6     A   30kg   Text           30      text  Category A
7     B   20kg    tExt          20      text  Category B
8     A   30kg     tExT         30      text  Category A
9     A   20kg   Text           20      text  Category A
10    B   30kg    tExt          30      text  Category B
11    A   20kg     tExT         20      text  Category A
12    A   30kg   Text           30      text  Category A
13    B   10kg    tExt          10      text  Category B
14    A   20kg     tExT         20      text  Category A
15    A   30kg   Text           30      text  Category A
16    B   10kg    tExt          10      text  Category B
17    A   20kg     tExT         20      text  Category A
18    A   30kg   Text           30      text  Category A
19    B   10kg    tExt          10      text  Category B
20    A   10kg     tExT         10      text  Category A
21    A   20kg   Text           20      text  Category A

In [29]:
print(consistent_data)

    Weight_kg units_new   categorey
0          10      text  Category A
1          20      text  Category B
2          30      text  Category A
3          20      text  Category A
4          30      text  Category B
5          20      text  Category A
6          30      text  Category A
7          20      text  Category B
8          30      text  Category A
9          20      text  Category A
10         30      text  Category B
11         20      text  Category A
12         30      text  Category A
13         10      text  Category B
14         20      text  Category A
15         30      text  Category A
16         10      text  Category B
17         20      text  Category A
18         30      text  Category A
19         10      text  Category B
20         10      text  Category A
21         20      text  Category A

In [29]:
data1 = pd.read_csv("./data_formatting_2.csv")
print(data1)

# clean incosistent units in a column
data1["Weight_in_kg"] = data1["Weight"].str.replace('kg', '').astype(int)

# clean  incosistent formats in a column
data1["units_formatted"] = data1["units"].str.strip().str.lower()

# clean incosistent coding conventions in a column
data1["Name_cat"] = data1["Name"].replace({"A": "Category A", 'B': "Category B"})


# print the cleaned data set
print(data1)

   Name Weight    units
0     A   10kg   Text
1     B   20kg    tExt
2     A   30kg     tExT
3     A   20kg   Text
4     B   30kg    tExt
5     A   20kg     tExT
6     A   30kg   Text
7     B   20kg    tExt
8     A   30kg     tExT
9     A   20kg   Text
10    B   30kg    tExt
11    A   20kg     tExT
12    A   30kg   Text
13    B   10kg    tExt
14    A   20kg     tExT
15    A   30kg   Text
16    B   10kg    tExt
17    A   20kg     tExT
18    A   30kg   Text
19    B   10kg    tExt
20    A   10kg     tExT
21    A   20kg   Text
   Name Weight    units  Weight_in_kg units_formatted    Name_cat
0     A   10kg   Text              10            text  Category A
1     B   20kg    tExt             20            text  Category B
2     A   30kg     tExT            30            text  Category A
3     A   20kg   Text              20            text  Category A
4     B   30kg    tExt             30            text  Category B
5     A   20kg     tExT            20            text  Category A
6     A   30kg   Text              30            text  Category A
7     B   20kg    tExt             20            text  Category B
8     A   30kg     tExT            30            text  Category A
9     A   20kg   Text              20            text  Category A
10    B   30kg    tExt             30            text  Category B
11    A   20kg     tExT            20            text  Category A
12    A   30kg   Text              30            text  Category A
13    B   10kg    tExt             10            text  Category B
14    A   20kg     tExT            20            text  Category A
15    A   30kg   Text              30            text  Category A
16    B   10kg    tExt             10            text  Category B
17    A   20kg     tExT            20            text  Category A
18    A   30kg   Text              30            text  Category A
19    B   10kg    tExt             10            text  Category B
20    A   10kg     tExT            10            text  Category A
21    A   20kg   Text              20            text  Category A