### 1. names

In [4]:
import pandas as pd

dfv = pd.read_excel("./FE_volvo.xlsx")
dfv.head(5)

   Vehicle Total time (h)  Total distance (km)  Total fuel (l)  ...  Low dist.  Medium dist.  Full dist.       Date
0   959483       21:03:00               319.44          425.25  ...      0.001         0.329       0.670 2021-03-02
1   959619       21:18:00               339.66          444.32  ...      0.000         0.451       0.549 2021-03-02
2   959959       20:48:00               346.57          444.42  ...      0.000         0.000       1.000 2021-03-02
3   960330       21:31:00               200.30          318.52  ...      0.024         0.529       0.447 2021-03-02
4   963913       21:14:00               200.68          278.55  ...      0.006         0.571       0.423 2021-03-02

[5 rows x 26 columns]

In [7]:
cols = dfv.columns.to_list()
print(x)

['Vehicle', 'Total time (h)', 'Total distance (km)', 'Total fuel (l)', 'Average fuel (l/100km)', 'Average AdBlue (l/100km)', 'Average speed driving (km/h)', 'Average brake counter (amount/100km)', 'Average stop counter (amount/100km)', 'PTO time', 'Idling time', 'Within economy time', 'Above economy time', 'Coasting time', 'Cruise control time', 'Vehicle overspeed (Fleet Limit)', 'Top gear time', 'Engine load time', 'Engine overrev time', 'Automatic time', 'Manual time', 'Power time', 'Low dist.', 'Medium dist.', 'Full dist.', 'Date']

In [10]:
dtypes = dfv.dtypes
print(dtypes)

Vehicle                                          int64
Total time (h)                                  object
Total distance (km)                            float64
Total fuel (l)                                 float64
Average fuel (l/100km)                         float64
Average AdBlue (l/100km)                       float64
Average speed driving (km/h)                   float64
Average brake counter (amount/100km)             int64
Average stop counter (amount/100km)              int64
PTO time                                       float64
Idling time                                    float64
Within economy time                            float64
Above economy time                             float64
Coasting time                                  float64
Cruise control time                            float64
Vehicle overspeed (Fleet Limit)                float64
Top gear time                                  float64
Engine load time                               float64
Engine overrev time                              int64
Automatic time                                 float64
Manual time                                    float64
Power time                                     float64
Low dist.                                      float64
Medium dist.                                   float64
Full dist.                                     float64
Date                                    datetime64[ns]
dtype: object

In [12]:
dfv.isnull().sum()

Vehicle                                 0
Total time (h)                          0
Total distance (km)                     0
Total fuel (l)                          0
Average fuel (l/100km)                  0
Average AdBlue (l/100km)                0
Average speed driving (km/h)            0
Average brake counter (amount/100km)    0
Average stop counter (amount/100km)     0
PTO time                                0
Idling time                             0
Within economy time                     0
Above economy time                      0
Coasting time                           0
Cruise control time                     0
Vehicle overspeed (Fleet Limit)         0
Top gear time                           0
Engine load time                        0
Engine overrev time                     0
Automatic time                          0
Manual time                             0
Power time                              0
Low dist.                               0
Medium dist.                            0
Full dist.                              0
Date                                    0
dtype: int64

In [21]:
dfv['PTO time'].unique()

array([0.046, 0.056, 0.047, 0.062, 0.053, 0.055, 0.039, 0.04 , 0.05 ,
       0.038, 0.043, 0.042, 0.051, 0.048, 0.044, 0.045, 0.06 , 0.041,
       0.036, 0.037, 0.022, 0.026, 0.025, 0.03 , 0.021, 0.032, 0.024,
       0.034, 0.065, 0.059, 0.077, 0.054, 0.052, 0.049, 0.033, 0.057,
       0.072, 0.031, 0.069, 0.058, 0.023, 0.027, 0.029, 0.063, 0.068,
       0.02 , 0.028])

In [22]:
dfv.nunique()

Vehicle                                  48
Total time (h)                          111
Total distance (km)                     188
Total fuel (l)                          186
Average fuel (l/100km)                  183
Average AdBlue (l/100km)                146
Average speed driving (km/h)            168
Average brake counter (amount/100km)    155
Average stop counter (amount/100km)     114
PTO time                                 47
Idling time                             129
Within economy time                     127
Above economy time                      104
Coasting time                            49
Cruise control time                      54
Vehicle overspeed (Fleet Limit)           3
Top gear time                           104
Engine load time                         97
Engine overrev time                       1
Automatic time                          165
Manual time                             162
Power time                               14
Low dist.                                52
Medium dist.                            113
Full dist.                               97
Date                                      4
dtype: int64

In [6]:
import pandas as pd

data = pd.read_csv("./Soccer_players_data1.csv")


# get column names
columns = data.columns
print(columns)

column_names = data.columns.to_list()
print(column_names)

Index(['Second name', 'First name', 'Gender', 'Height(cm)', 'Weight(kg)',
       'Country/Team'],
      dtype='object')
['Second name', 'First name', 'Gender', 'Height(cm)', 'Weight(kg)', 'Country/Team']

### 2. data types

In [10]:
print(data)

data_types = data.dtypes

# print data types
print(data_types)

      Second name First name Gender  Height(cm)  Weight(kg)  \
0          Abbadi     Ilyas       M         170          69
1          Abbate    Simona       W         171          64
2        Abdelaal    Hesham       M         167          52
3     Abdulrahman      Amer       M         168          68
4           Abian     Pablo       M         177          78
...           ...        ...    ...         ...         ...
1582         Zhou      Peng       M         183          88
1583     Zlokovic     Boris       M         197         100
1584       Zolnir     Urska       W         173          63
1585        Zoric   Milenko       M         179          73
1586        Zugaj     Nenad       M         177          84

              Country/Team
0                  Algeria
1                    Italy
2                    Egypt
3     United Arab Emirates
4                    Spain
...                    ...
1582                 China
1583            Montenegro
1584              Slovenia
1585                Serbia
1586               Croatia

[1587 rows x 6 columns]
Second name     object
First name      object
Gender          object
Height(cm)       int64
Weight(kg)       int64
Country/Team    object
dtype: object

### 3. identifying missing values

In [14]:
import numpy as np
import pandas as pd

# example DataFrame with missing values
data = {'A': [1, 2, np.nan], 'B': [4, np.nan, 6], 'C': [np.nan, 8, 9]}
df = pd.DataFrame(data)

# identify missing values
missing_values = df.isnull()
missing_values_info = df.isnull().sum()
print(missing_values)
print(missing_values_info)

       A      B      C
0  False  False   True
1  False   True  False
2   True  False  False
A    1
B    1
C    1
dtype: int64

### 4. unique values

In [15]:
data = pd.read_csv("./Soccer_players_data1.csv")

In [17]:
data.nunique()

Second name     1433
First name      1109
Gender             2
Height(cm)        69
Weight(kg)        87
Country/Team     182
dtype: int64

In [18]:
data["Second name"].unique()

array(['Abbadi', 'Abbate', 'Abdelaal', ..., 'Zolnir', 'Zoric', 'Zugaj'],
      dtype=object)

In [19]:
data["First name"].unique()

array(['Ilyas ', 'Simona ', 'Hesham ', ..., 'Urska ', 'Milenko ',
       'Nenad '], dtype=object)

In [20]:
data["Gender"].unique()

array(['M', 'W'], dtype=object)

In [21]:
data["Country/Team"].unique()

array(['Algeria', 'Italy', 'Egypt', 'United Arab Emirates', 'Spain',
       'Portugal', 'Colombia', 'Ethiopia', 'Jordan', 'Team GB',
       'Cameroon', 'Saint Kitts and Nevis', 'Russian Federation',
       'Greece', 'Comoros', 'Trinidad and Tobago', 'Lithuania', 'Tunisia',
       'Qatar', 'Vanuatu', 'St Vincent and the Grenadines', 'Oman',
       'Madagascar', 'Bahrain', 'Barbados', 'Australian Olympic Team',
       'Uzbekistan', 'Botswana', 'Team USA', 'Japan', 'Venezuela',
       'Mongolia', 'Poland', 'Brazil', 'Kuwait', 'Iran', 'Eritrea',
       'Bahamas', 'Guam', 'Hong Kong', 'Myanmar', 'New Zealand',
       'Germany', 'South Korea', 'Afghanistan', 'Belarus',
       'Antigua and Barbuda', 'Hungary', 'France', 'Monaco', 'Angola',
       'Chile', 'Argentina', 'Namibia', 'Kazakhstan', 'Romania',
       'Ukraine', 'Andorra', 'Czech Republic', 'Burundi', 'Slovenia',
       'Jamaica', 'Independent Olympic Athletes', 'Netherlands', 'Canada',
       'Senegal', 'Montenegro', 'Bermuda', 'Croatia', 'Guinea', 'Ireland',
       'Moldova', 'Latvia', 'China', 'Switzerland', 'Lebanon', 'Thailand',
       'Benin', 'Bhutan', 'Malta', 'Uruguay', 'Mozambique', 'Sweden',
       'Yemen', 'Bulgaria', 'Denmark', 'South Africa', 'Turkey',
       'Armenia', 'Belgium', 'Mexico', 'Serbia', 'Nauru', 'Kenya',
       'Israel', 'FYR Macedonia', 'Indonesia', 'Morocco', 'Mauritania',
       'Fiji', 'Ecuador', 'Chinese Taipei', 'Austria', 'Slovakia',
       'American Samoa', 'Cayman Islands', 'Honduras', 'Palau', 'Nigeria',
       'Niger', 'Swaziland', 'Liechtenstein', 'Azerbaijan', 'Palestine',
       'Marshall Islands', 'El Salvador', 'Paraguay', 'Philippines',
       'Dominica', 'Tajikistan', 'Sri Lanka', 'American Virgin Islands',
       'Syria', 'Zimbabwe', 'Central African Republic', 'Albania',
       'Georgia', 'North Korea', 'Bosnia and Herzegovina', 'Kyrgyzstan',
       'Ivory Coast', 'Cyprus', 'Finland', 'Turkmenistan', 'Estonia',
       'Tuvalu', 'Mauritius', 'Brunei Darussalam', 'Uganda', 'DR Congo',
       'Seychelles', 'Equatorial Guinea', 'Aruba', 'Bangladesh', 'Belize',
       'Dominican Republic', 'Guinea-Bissau', 'Micronesia', 'Malaysia',
       'Cape Verde', 'Tanzania', 'Costa Rica', 'Togo', 'Chad', 'Vietnam',
       'Luxembourg', 'Rwanda', 'Gabon', 'Singapore', 'Burkina Faso',
       'Papua New Guinea', "Lao People's Dem Republic",
       'S?úo Tom?? and Pr?¡ncipe', 'Maldives', 'Nepal', 'Guyana',
       'Guatemala', 'Panama', 'Iraq', 'Peru', 'Grenada', 'Timor-Leste',
       'Suriname', 'Cambodia', 'Saint Lucia', 'Malawi', 'Kiribati',
       'San Marino', 'Nicaragua', 'Sierra Leone', 'Cook Islands', 'Sudan'],
      dtype=object)

### 2. Data quality Issues and Inconsistencies

In [25]:
import pandas as pd

data = {
    'Name': ['Charan', 'kiran', "mike", "Divya", "Pawan"],
    'Age': [25, 30, None, 35, 25],
    'Gender': ["M", "F", "MF", "F", "M"],
    'Salary': [50000, 60000, 54444, None, 50000]
}

df = pd.DataFrame(data)

# check for missing values
missing_values = df.isnull().sum()
print("Missing values: ")
print(missing_values)

# Check for duplicate rows
duplicate_rows = df.duplicated()
print("\nDuplicate rows: ")
print(duplicate_rows)

# check for inconsistent formats or inconsistencies
inconsistent_format = df["Gender"].str.contains('[MF]', regex=True)
print("\nInconsistent formats or inconsistencies: ")
print(df[inconsistent_format])

Missing values:
Name      0
Age       1
Gender    0
Salary    1
dtype: int64

Duplicate rows:
0    False
1    False
2    False
3    False
4    False
dtype: bool

Inconsistent formats or inconsistencies:
     Name   Age Gender   Salary
0  Charan  25.0      M  50000.0
1   kiran  30.0      F  60000.0
2    mike   NaN     MF  54444.0
3   Divya  35.0      F      NaN
4   Pawan  25.0      M  50000.0