In [1]:
import pandas as pd
import numpy as np

# load the dataset
df = pd.read_csv("automobile_dataset.csv")

In [2]:
df

           Car  Horsepower
0         Audi         210
1    Chevrolet         203
2        Lexus         270
3          BMW         232
4         Audi         392
..         ...         ...
995        Kia         111
996        Kia         338
997      Lexus         148
998      Honda         141
999     Nissan         265

[1000 rows x 2 columns]

### Logistic regression

In [3]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix
import matplotlib.pyplot as plt

# Step 1: Load the dataset
df = pd.read_csv("automobile_dataset.csv")

# Step 2: Prepare the data for modeling
X = df.drop("Car", axis=1)
y = df["Car"]

# Step 3: Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Step 4: Feature Scaling
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

# Step 5: Build the Logistic Regression model
model = LogisticRegression()

# Step 6: Train the model
model.fit(X_train_scaled, y_train)

# Step 7: Make predictions
y_pred = model.predict(X_test_scaled)

print("Predictions for new Horse poser (test set) y_pred:", )
print("Actual y_test values:", y_test)

Predictions for new Horse poser (test set) y_pred:
Actual y_test values: 521          BMW
737        Lexus
740    Chevrolet
660          BMW
411       Nissan
         ...
408         Ford
332          Kia
208          Kia
613    Chevrolet
78        Toyota
Name: Car, Length: 200, dtype: object

# Step 9: Evaluate the model

# 1. accuracy

In [4]:
from sklearn.metrics import accuracy_score

# Assuming y_pred and y_test are the predicted and true target labels, respectively
accuracy = accuracy_score(y_test, y_pred)
print("Accuracy:", accuracy)

Accuracy: 0.11

# 2. precision

In [5]:
from sklearn.metrics import precision_score

# Assuming y_pred and y_test are the predicted and true target labels, respectively
precision = precision_score(y_test, y_pred, average='micro')
print("Precision:", precision)

Precision: 0.11

# 3. recall score

In [6]:
from sklearn.metrics import recall_score

# Assuming y_pred and y_test are the predicted and true target labels, respectively
recall = recall_score(y_test, y_pred, average='weighted')
print("Recall:", recall)

Recall: 0.11

### Cancer detection

In [7]:
import pandas as pd
df = pd.read_csv("./cancer_detection_dataset.csv")
df

,Age,Tumor Size,Genetic Marker 1,Genetic Marker 2,Genetic Marker 3,Blood Test 1,Blood Test 2,Blood Test 3,Cancer
0,68,9.403226,1,0,1,10.082792,3.840426,2.251384,0
1,58,1.067809,0,0,0,7.891594,6.662679,1.262652,0
2,44,3.027995,0,1,0,8.634307,9.888355,2.214147,0
3,72,4.288211,1,0,0,3.339735,2.257277,4.236347,1
4,37,5.390288,1,1,0,5.520352,3.898997,1.030028,1
...,...,...,...,...,...,...,...,...,...
995,55,8.427575,0,0,0,13.732853,3.729998,4.978095,1
996,63,3.517332,0,1,1,12.883277,2.090370,3.328253,1
997,74,9.481483,1,1,0,13.785455,6.957950,2.467400,0
998,35,8.860030,1,1,0,9.637344,9.442088,4.615870,0
999,66,2.455878,1,0,1,12.747097,9.955110,0.079259,1

In [16]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix

# Load the dataset
data = pd.read_csv('cancer_detection_dataset.csv')

# Split the dataset into features (X) and target variable (y)
X = data.drop('Cancer', axis=1)
y = data['Cancer']

# Standardize the features
scaler = StandardScaler()
X_scaled = scaler.fit_transform(X)

# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X_scaled, y, test_size=0.2, random_state=42)

# Build the logistic regression model
logistic_reg = LogisticRegression()
logistic_reg.fit(X_train, y_train)

# Make predictions on the test set
y_pred = logistic_reg.predict(X_test)

print("Predictions for new patients  (test set) y_pred:", y_pred)
print("Actual y_test values:", y_test)

Predictions for new patients  (test set) y_pred: [1 0 0 1 1 1 1 1 0 1 1 1 0 1 1 1 1 0 1 0 0 1 1 1 1 0 1 1 0 1 1 1 1 1 0 1 0
 1 1 1 1 0 1 1 0 0 1 0 0 1 0 0 0 0 1 0 0 1 1 1 1 1 1 0 0 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 0 1 0 1 0 0 0 1 1 1 0 0 0 1 0 1 1 0 1 1 1 0 0 1 0 1 1 1 0 1 1
 1 1 1 0 0 1 0 1 1 1 1 0 1 0 1 0 0 1 0 1 0 1 0 1 0 1 0 1 1 1 1 0 0 1 1 1 1
 1 1 1 1 0 1 1 1 1 1 1 1 0 1 0 0 1 1 0 1 1 1 1 0 1 1 0 0 1 0 0 0 1 0 0 0 0
 0 1 1 1 0 1 1 1 1 0 1 0 1 1 0]
Actual y_test values: 521    1
737    1
740    1
660    0
411    0
      ..
408    0
332    1
208    1
613    1
78     0
Name: Cancer, Length: 200, dtype: int64

# 1. accuracy

In [9]:
from sklearn.metrics import accuracy_score

# Assuming y_pred and y_test are the predicted and true target labels, respectively
accuracy = accuracy_score(y_test, y_pred)
print("Accuracy:", accuracy)

Accuracy: 0.46

# 2. precision

In [10]:
from sklearn.metrics import precision_score

precision = precision_score(y_test, y_pred, average='micro')
print("Precision:", precision)

Precision: 0.46

# 3. recall score

In [11]:
from sklearn.metrics import recall_score

recall = recall_score(y_test, y_pred, average='weighted')
print("Recall:", recall)

Recall: 0.46

# 4. F1-score

In [12]:
from sklearn.metrics import f1_score

f1 = f1_score(y_test, y_pred)
print("F1-Score:", f1)

F1-Score: 0.5178571428571429

# 5. area under the ROC curve (AUC-ROC)

In [13]:
from sklearn.metrics import roc_auc_score

auc_roc = roc_auc_score(y_test, y_pred)
print("AUC-ROC Score:", auc_roc)

AUC-ROC Score: 0.4655448717948717

# 6. confusion matrix

In [17]:
from sklearn.metrics import confusion_matrix

cm = confusion_matrix(y_test, y_pred)
print("Confusion Matrix:\n", cm)

Confusion Matrix:
 [[34 70]
 [38 58]]