# 1. Mathematical Operations

#### 1.1 Addition/Subtraction

In [1]:
import pandas as pd
import numpy as np

# Load the automobile fuel efficiency dataset
df = pd.read_csv('automobile_fuel_efficiency_data.csv')
df

,Car Model,MPG,Engine Displacement,Horsepower,Weight,Acceleration,Number of Cylinders,Origin,Curb Weight
0,Audi,24.981605,5.130444,478.299881,4125.359813,11.269543,8,Germany,3516.142910
1,Honda,48.028572,4.356131,225.167819,3598.878204,19.143691,4,USA,3054.325128
2,Ford,39.279758,3.931621,443.402582,5814.814506,15.822677,8,Germany,2515.584174
3,Honda,33.946339,2.737491,152.674761,4568.440940,6.321899,8,Germany,3635.039433
4,Honda,16.240746,4.795162,382.016363,3192.601425,17.694770,6,USA,3804.790972
...,...,...,...,...,...,...,...,...,...
2315,Nissan,15.259565,5.309547,243.929960,3344.661354,16.954815,4,Japan,3543.760156
2316,Audi,20.989261,2.815290,316.306253,3161.134709,12.724697,8,Germany,3601.384066
2317,Nissan,25.783043,4.149255,370.920275,4164.752223,6.961021,4,Japan,2517.178906
2318,Audi,26.873127,4.507301,381.051831,2094.865441,8.226072,6,USA,2905.779334
2319,Ford,26.440843,4.747785,482.392023,2319.156495,14.843420,6,Germany,2638.175290

In [2]:
# addition
df["Combined Power"] = df["Engine Displacement"] + df["Horsepower"]
df

,Car Model,MPG,Engine Displacement,Horsepower,Weight,Acceleration,Number of Cylinders,Origin,Curb Weight,Combined Power
0,Audi,24.981605,5.130444,478.299881,4125.359813,11.269543,8,Germany,3516.142910,483.430325
1,Honda,48.028572,4.356131,225.167819,3598.878204,19.143691,4,USA,3054.325128,229.523950
2,Ford,39.279758,3.931621,443.402582,5814.814506,15.822677,8,Germany,2515.584174,447.334203
3,Honda,33.946339,2.737491,152.674761,4568.440940,6.321899,8,Germany,3635.039433,155.412252
4,Honda,16.240746,4.795162,382.016363,3192.601425,17.694770,6,USA,3804.790972,386.811524
...,...,...,...,...,...,...,...,...,...,...
2315,Nissan,15.259565,5.309547,243.929960,3344.661354,16.954815,4,Japan,3543.760156,249.239507
2316,Audi,20.989261,2.815290,316.306253,3161.134709,12.724697,8,Germany,3601.384066,319.121543
2317,Nissan,25.783043,4.149255,370.920275,4164.752223,6.961021,4,Japan,2517.178906,375.069529
2318,Audi,26.873127,4.507301,381.051831,2094.865441,8.226072,6,USA,2905.779334,385.559131
2319,Ford,26.440843,4.747785,482.392023,2319.156495,14.843420,6,Germany,2638.175290,487.139808

In [3]:
# subtraction
df["Weight difference"] = df["Weight"] - df["Curb Weight"]
df

,Car Model,MPG,Engine Displacement,Horsepower,Weight,Acceleration,Number of Cylinders,Origin,Curb Weight,Combined Power,Weight difference
0,Audi,24.981605,5.130444,478.299881,4125.359813,11.269543,8,Germany,3516.142910,483.430325,609.216903
1,Honda,48.028572,4.356131,225.167819,3598.878204,19.143691,4,USA,3054.325128,229.523950,544.553076
2,Ford,39.279758,3.931621,443.402582,5814.814506,15.822677,8,Germany,2515.584174,447.334203,3299.230332
3,Honda,33.946339,2.737491,152.674761,4568.440940,6.321899,8,Germany,3635.039433,155.412252,933.401507
4,Honda,16.240746,4.795162,382.016363,3192.601425,17.694770,6,USA,3804.790972,386.811524,-612.189547
...,...,...,...,...,...,...,...,...,...,...,...
2315,Nissan,15.259565,5.309547,243.929960,3344.661354,16.954815,4,Japan,3543.760156,249.239507,-199.098802
2316,Audi,20.989261,2.815290,316.306253,3161.134709,12.724697,8,Germany,3601.384066,319.121543,-440.249357
2317,Nissan,25.783043,4.149255,370.920275,4164.752223,6.961021,4,Japan,2517.178906,375.069529,1647.573317
2318,Audi,26.873127,4.507301,381.051831,2094.865441,8.226072,6,USA,2905.779334,385.559131,-810.913893
2319,Ford,26.440843,4.747785,482.392023,2319.156495,14.843420,6,Germany,2638.175290,487.139808,-319.018795

#### 1.2 Multiplication/Division

In [4]:
# division
df["Weight per cylinder"] = df["Weight"] / df["Number of Cylinders"]
df["Fuel Efficiency per weight"] = df["MPG"] / df["Weight"]
df

,Car Model,MPG,Engine Displacement,Horsepower,Weight,Acceleration,Number of Cylinders,Origin,Curb Weight,Combined Power,Weight difference,Weight per cylinder,Fuel Efficiency per weight
0,Audi,24.981605,5.130444,478.299881,4125.359813,11.269543,8,Germany,3516.142910,483.430325,609.216903,515.669977,0.006056
1,Honda,48.028572,4.356131,225.167819,3598.878204,19.143691,4,USA,3054.325128,229.523950,544.553076,899.719551,0.013345
2,Ford,39.279758,3.931621,443.402582,5814.814506,15.822677,8,Germany,2515.584174,447.334203,3299.230332,726.851813,0.006755
3,Honda,33.946339,2.737491,152.674761,4568.440940,6.321899,8,Germany,3635.039433,155.412252,933.401507,571.055118,0.007431
4,Honda,16.240746,4.795162,382.016363,3192.601425,17.694770,6,USA,3804.790972,386.811524,-612.189547,532.100237,0.005087
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2315,Nissan,15.259565,5.309547,243.929960,3344.661354,16.954815,4,Japan,3543.760156,249.239507,-199.098802,836.165338,0.004562
2316,Audi,20.989261,2.815290,316.306253,3161.134709,12.724697,8,Germany,3601.384066,319.121543,-440.249357,395.141839,0.006640
2317,Nissan,25.783043,4.149255,370.920275,4164.752223,6.961021,4,Japan,2517.178906,375.069529,1647.573317,1041.188056,0.006191
2318,Audi,26.873127,4.507301,381.051831,2094.865441,8.226072,6,USA,2905.779334,385.559131,-810.913893,349.144240,0.012828
2319,Ford,26.440843,4.747785,482.392023,2319.156495,14.843420,6,Germany,2638.175290,487.139808,-319.018795,386.526083,0.011401

In [5]:
# multiplication
df["Acceleration Power"] = df["Acceleration"] * df["Horsepower"]
df

,Car Model,MPG,Engine Displacement,Horsepower,Weight,Acceleration,Number of Cylinders,Origin,Curb Weight,Combined Power,Weight difference,Weight per cylinder,Fuel Efficiency per weight,Acceleration Power
0,Audi,24.981605,5.130444,478.299881,4125.359813,11.269543,8,Germany,3516.142910,483.430325,609.216903,515.669977,0.006056,5390.221146
1,Honda,48.028572,4.356131,225.167819,3598.878204,19.143691,4,USA,3054.325128,229.523950,544.553076,899.719551,0.013345,4310.543080
2,Ford,39.279758,3.931621,443.402582,5814.814506,15.822677,8,Germany,2515.584174,447.334203,3299.230332,726.851813,0.006755,7015.815700
3,Honda,33.946339,2.737491,152.674761,4568.440940,6.321899,8,Germany,3635.039433,155.412252,933.401507,571.055118,0.007431,965.194352
4,Honda,16.240746,4.795162,382.016363,3192.601425,17.694770,6,USA,3804.790972,386.811524,-612.189547,532.100237,0.005087,6759.691743
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2315,Nissan,15.259565,5.309547,243.929960,3344.661354,16.954815,4,Japan,3543.760156,249.239507,-199.098802,836.165338,0.004562,4135.787306
2316,Audi,20.989261,2.815290,316.306253,3161.134709,12.724697,8,Germany,3601.384066,319.121543,-440.249357,395.141839,0.006640,4024.901273
2317,Nissan,25.783043,4.149255,370.920275,4164.752223,6.961021,4,Japan,2517.178906,375.069529,1647.573317,1041.188056,0.006191,2581.983854
2318,Audi,26.873127,4.507301,381.051831,2094.865441,8.226072,6,USA,2905.779334,385.559131,-810.913893,349.144240,0.012828,3134.559822
2319,Ford,26.440843,4.747785,482.392023,2319.156495,14.843420,6,Germany,2638.175290,487.139808,-319.018795,386.526083,0.011401,7160.347342

#### 1.3 Logarithm/Exponentiation

In [6]:
# Logarithm
df["Log Weight"] = df["Weight"].apply(lambda x: np.log(x))
df

,Car Model,MPG,Engine Displacement,Horsepower,Weight,Acceleration,Number of Cylinders,Origin,Curb Weight,Combined Power,Weight difference,Weight per cylinder,Fuel Efficiency per weight,Acceleration Power,Log Weight
0,Audi,24.981605,5.130444,478.299881,4125.359813,11.269543,8,Germany,3516.142910,483.430325,609.216903,515.669977,0.006056,5390.221146,8.324909
1,Honda,48.028572,4.356131,225.167819,3598.878204,19.143691,4,USA,3054.325128,229.523950,544.553076,899.719551,0.013345,4310.543080,8.188377
2,Ford,39.279758,3.931621,443.402582,5814.814506,15.822677,8,Germany,2515.584174,447.334203,3299.230332,726.851813,0.006755,7015.815700,8.668164
3,Honda,33.946339,2.737491,152.674761,4568.440940,6.321899,8,Germany,3635.039433,155.412252,933.401507,571.055118,0.007431,965.194352,8.426927
4,Honda,16.240746,4.795162,382.016363,3192.601425,17.694770,6,USA,3804.790972,386.811524,-612.189547,532.100237,0.005087,6759.691743,8.068591
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2315,Nissan,15.259565,5.309547,243.929960,3344.661354,16.954815,4,Japan,3543.760156,249.239507,-199.098802,836.165338,0.004562,4135.787306,8.115121
2316,Audi,20.989261,2.815290,316.306253,3161.134709,12.724697,8,Germany,3601.384066,319.121543,-440.249357,395.141839,0.006640,4024.901273,8.058686
2317,Nissan,25.783043,4.149255,370.920275,4164.752223,6.961021,4,Japan,2517.178906,375.069529,1647.573317,1041.188056,0.006191,2581.983854,8.334412
2318,Audi,26.873127,4.507301,381.051831,2094.865441,8.226072,6,USA,2905.779334,385.559131,-810.913893,349.144240,0.012828,3134.559822,7.647245
2319,Ford,26.440843,4.747785,482.392023,2319.156495,14.843420,6,Germany,2638.175290,487.139808,-319.018795,386.526083,0.011401,7160.347342,7.748959

In [7]:
# exponentiation
df["Engine Power squared"] = df["Engine Displacement"] ** 2
df

,Car Model,MPG,Engine Displacement,Horsepower,Weight,Acceleration,Number of Cylinders,Origin,Curb Weight,Combined Power,Weight difference,Weight per cylinder,Fuel Efficiency per weight,Acceleration Power,Log Weight,Engine Power squared
0,Audi,24.981605,5.130444,478.299881,4125.359813,11.269543,8,Germany,3516.142910,483.430325,609.216903,515.669977,0.006056,5390.221146,8.324909,26.321456
1,Honda,48.028572,4.356131,225.167819,3598.878204,19.143691,4,USA,3054.325128,229.523950,544.553076,899.719551,0.013345,4310.543080,8.188377,18.975874
2,Ford,39.279758,3.931621,443.402582,5814.814506,15.822677,8,Germany,2515.584174,447.334203,3299.230332,726.851813,0.006755,7015.815700,8.668164,15.457643
3,Honda,33.946339,2.737491,152.674761,4568.440940,6.321899,8,Germany,3635.039433,155.412252,933.401507,571.055118,0.007431,965.194352,8.426927,7.493856
4,Honda,16.240746,4.795162,382.016363,3192.601425,17.694770,6,USA,3804.790972,386.811524,-612.189547,532.100237,0.005087,6759.691743,8.068591,22.993574
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2315,Nissan,15.259565,5.309547,243.929960,3344.661354,16.954815,4,Japan,3543.760156,249.239507,-199.098802,836.165338,0.004562,4135.787306,8.115121,28.191289
2316,Audi,20.989261,2.815290,316.306253,3161.134709,12.724697,8,Germany,3601.384066,319.121543,-440.249357,395.141839,0.006640,4024.901273,8.058686,7.925860
2317,Nissan,25.783043,4.149255,370.920275,4164.752223,6.961021,4,Japan,2517.178906,375.069529,1647.573317,1041.188056,0.006191,2581.983854,8.334412,17.216317
2318,Audi,26.873127,4.507301,381.051831,2094.865441,8.226072,6,USA,2905.779334,385.559131,-810.913893,349.144240,0.012828,3134.559822,7.647245,20.315759
2319,Ford,26.440843,4.747785,482.392023,2319.156495,14.843420,6,Germany,2638.175290,487.139808,-319.018795,386.526083,0.011401,7160.347342,7.748959,22.541462

In [8]:
import pandas as pd
import numpy as np

# Load the automobile fuel efficiency dataset
df = pd.read_csv('automobile_fuel_efficiency_data.csv')

# Addition/Subtraction:
df['Combined Power'] = df['Horsepower'] + df['Engine Displacement']
# Subtraction:
df['Weight Difference'] = df['Weight'] - df['Curb Weight']

# Multiplication/Division:
df['Fuel Efficiency per Weight'] = df['MPG'] / df['Weight']
df['Weight per Cylinder'] = df['Weight'] / df['Number of Cylinders']
df['Acceleration Power'] = df['Acceleration'] * df['Horsepower']



# Logarithm/Exponentiation:
df['Log Weight'] = df['Weight'].apply(lambda x: np.log(x))
df['Engine Power Squared'] = df['Engine Displacement'] ** 2

# Save the updated dataset to a new CSV file
df.to_csv('automobile_fuel_efficiency_data_with_new_features.csv', index=False)

In [9]:
df

,Car Model,MPG,Engine Displacement,Horsepower,Weight,Acceleration,Number of Cylinders,Origin,Curb Weight,Combined Power,Weight Difference,Fuel Efficiency per Weight,Weight per Cylinder,Acceleration Power,Log Weight,Engine Power Squared
0,Audi,24.981605,5.130444,478.299881,4125.359813,11.269543,8,Germany,3516.142910,483.430325,609.216903,0.006056,515.669977,5390.221146,8.324909,26.321456
1,Honda,48.028572,4.356131,225.167819,3598.878204,19.143691,4,USA,3054.325128,229.523950,544.553076,0.013345,899.719551,4310.543080,8.188377,18.975874
2,Ford,39.279758,3.931621,443.402582,5814.814506,15.822677,8,Germany,2515.584174,447.334203,3299.230332,0.006755,726.851813,7015.815700,8.668164,15.457643
3,Honda,33.946339,2.737491,152.674761,4568.440940,6.321899,8,Germany,3635.039433,155.412252,933.401507,0.007431,571.055118,965.194352,8.426927,7.493856
4,Honda,16.240746,4.795162,382.016363,3192.601425,17.694770,6,USA,3804.790972,386.811524,-612.189547,0.005087,532.100237,6759.691743,8.068591,22.993574
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2315,Nissan,15.259565,5.309547,243.929960,3344.661354,16.954815,4,Japan,3543.760156,249.239507,-199.098802,0.004562,836.165338,4135.787306,8.115121,28.191289
2316,Audi,20.989261,2.815290,316.306253,3161.134709,12.724697,8,Germany,3601.384066,319.121543,-440.249357,0.006640,395.141839,4024.901273,8.058686,7.925860
2317,Nissan,25.783043,4.149255,370.920275,4164.752223,6.961021,4,Japan,2517.178906,375.069529,1647.573317,0.006191,1041.188056,2581.983854,8.334412,17.216317
2318,Audi,26.873127,4.507301,381.051831,2094.865441,8.226072,6,USA,2905.779334,385.559131,-810.913893,0.012828,349.144240,3134.559822,7.647245,20.315759
2319,Ford,26.440843,4.747785,482.392023,2319.156495,14.843420,6,Germany,2638.175290,487.139808,-319.018795,0.011401,386.526083,7160.347342,7.748959,22.541462

# 2. Interaction features

#### 2.1 Polynomial Features

In [10]:
import pandas as pd
from sklearn.preprocessing import PolynomialFeatures
from sklearn.linear_model import LinearRegression

# Sample dataset
data = {
    'Area': [1000, 1500, 2000, 2500, 3000],
    'Price': [200000, 300000, 400000, 450000, 500000]
}

df = pd.DataFrame(data)

from sklearn.preprocessing import PolynomialFeatures
# Create polynomial features
poly = PolynomialFeatures(degree=2, include_bias=False)
X_poly = poly.fit_transform(df[['Area']])

# Fit a linear regression model with polynomial features
model = LinearRegression()
model.fit(X_poly, df['Price'])

# Coefficients of the polynomial features
coefficients = model.coef_

# Print the coefficients
print("Coefficients of the polynomial features:", coefficients)

ModuleNotFoundError: No module named 'sklearn'

In [ ]:
X_poly

#### 2.2 Domain-Specific Interaction Features

In [ ]:
import pandas as pd

# Sample dataset
data = {
    'Product_Category': ['Electronics', 'Clothing', 'Electronics', 'Beauty', 'Clothing'],
    'Price_Range': ['High', 'Low', 'Medium', 'Low', 'Medium'],
    'Sales': [1000, 800, 1200, 600, 900]
}

df = pd.DataFrame(data)

# Create the interaction feature by combining 'Product_Category' and 'Price_Range'
df['Category_Price_Range'] = df['Product_Category'] + '_' + df['Price_Range']

# Group by the new interaction feature and calculate the total sales
sales_by_category_price_range = df.groupby('Category_Price_Range')['Sales'].sum().reset_index()

# Print the sales by category and price range
print(sales_by_category_price_range)

# 3. Binning or Discretization

In [ ]:
import pandas as pd

# Load the automobile fuel efficiency dataset
df = pd.read_csv('automobile_fuel_efficiency_data.csv')
# binning the "MPG" feature
bins = [0, 20, 35, 50]
labels = ['Low FE', 'Med FE', 'High FE']
df['MPG_bin'] = pd.cut(df["MPG"], bins=bins, labels=labels)
df

In [ ]:
import pandas as pd

# Load the automobile fuel efficiency dataset
df = pd.read_csv('automobile_fuel_efficiency_data.csv')

# Binning the 'Horsepower' feature
bins = [0, 100, 150, 200, 250, 300, 350, float('inf')]
labels = ['<100', '100-150', '150-200', '200-250', '250-300', '300-350', '>350']
df['Horsepower_bin'] = pd.cut(df['Horsepower'], bins=bins, labels=labels)

# Binning the 'MPG' feature
bins = [0, 15, 20, 25, 30, 35, 40, 50, float('inf')]
labels = ['<15', '15-20', '20-25', '25-30', '30-35', '35-40', '40-50', '>50']
df['MPG_bin'] = pd.cut(df['MPG'], bins=bins, labels=labels)

# Binning the 'Engine Displacement' feature
bins = [0, 2, 3, 4, 5, 6, 8, float('inf')]
labels = ['<2', '2-3', '3-4', '4-5', '5-6', '6-8', '>8']
df['Engine_Displacement_bin'] = pd.cut(df['Engine Displacement'], bins=bins, labels=labels)

# Binning the 'Weight' feature
bins = [0, 2000, 2500, 3000, 3500, 4000, 4500, 5000, float('inf')]
labels = ['<2000', '2000-2500', '2500-3000', '3000-3500', '3500-4000', '4000-4500', '4500-5000', '>5000']
df['Weight_bin'] = pd.cut(df['Weight'], bins=bins, labels=labels)

# Drop the original continuous features
df.drop(columns=['Horsepower', 'MPG', 'Engine Displacement', 'Weight'], inplace=True)

# Save the updated dataset to a new CSV file
df.to_csv('automobile_fuel_efficiency_data_with_binning.csv', index=False)

# 4. Domain-Specific Transformations

#### 4.1. Word Count

In [27]:
# load customer review dataset

df = pd.read_csv("./large_sentiment_analysis_dataset.csv")
df

                                                 Review Sentiment
0     Father common community play anyone against ho...  Negative
1                             Series fear argue garden.  Positive
2     Wish represent long. Heart protect eight true ...   Neutral
3     Until soon economy return. Simple conference c...   Neutral
4     Not economy her town technology environmental ...  Negative
...                                                 ...       ...
9995  House road relate beautiful toward among forme...  Negative
9996  Its worker skill science my environment. Every...   Neutral
9997                       Miss result great onto long.  Positive
9998                     Rate tough show shake service.  Negative
9999                      Financial well easy its sell.  Negative

[10000 rows x 2 columns]

In [32]:
import pandas as pd
import nltk
from nltk.tokenize import word_tokenize
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

# Download the NLTK resources (only need to do this once)
nltk.download('punkt')

# load customer review dataset

df = pd.read_csv("./large_sentiment_analysis_dataset.csv")

# Tokenize the reviews and count the number of words in each review
df['Word_Count'] = df['Review'].apply(lambda x: len(word_tokenize(x)))

# Convert sentiment labels to numerical values
sentiment_mapping = {'Positive': 2, 'Neutral': 1, 'Negative': 0}
df['Sentiment'] = df['Sentiment'].map(sentiment_mapping)

# Split the dataset into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(df[['Word_Count']], df['Sentiment'], test_size=0.2, random_state=42)

# Create a simple Random Forest classifier
clf = RandomForestClassifier(random_state=42)

# Train the model
clf.fit(X_train, y_train)

# Make predictions on the test set
y_pred = clf.predict(X_test)

# Calculate accuracy
accuracy = accuracy_score(y_test, y_pred)
print(f"Accuracy: {accuracy:.2f}")

[nltk_data] Downloading package punkt to C:\Users\Surya Charan
[nltk_data]     Teja\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

Accuracy: 0.33

In [33]:
df

                                                 Review  Sentiment  Word_Count
0     Father common community play anyone against ho...          0           8
1                             Series fear argue garden.          2           5
2     Wish represent long. Heart protect eight true ...          1          18
3     Until soon economy return. Simple conference c...          1          13
4     Not economy her town technology environmental ...          0          16
...                                                 ...        ...         ...
9995  House road relate beautiful toward among forme...          0           9
9996  Its worker skill science my environment. Every...          1          15
9997                       Miss result great onto long.          2           6
9998                     Rate tough show shake service.          0           6
9999                      Financial well easy its sell.          0           6

[10000 rows x 3 columns]

In [36]:
import openai
import pandas as pd

# Set your OpenAI API key
openai.api_key = "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"

# Function to generate blog post content with varying sentence lengths
def generate_content(topic, num_posts):
    data = []
    for _ in range(num_posts):
        response = openai.Completion.create(
            engine="text-davinci-002",
            prompt=f"Topic: {topic}\n\nWrite a blog post on {topic}.",
            max_tokens=1000,
            temperature=0.7,
            stop=["\n"]
        )
        content = response['choices'][0]['text']
        data.append(content)

    return data

# Generate a large dataset of blog posts on a given topic with varying sentence lengths
num_posts = 1000
topic = "Artificial Intelligence"
blog_posts = generate_content(topic, num_posts)

# Create a DataFrame to store the generated data
df = pd.DataFrame({'Blog Post': blog_posts})

# Save the generated dataset to a CSV file
df.to_csv('large_blog_posts_dataset.csv', index=False)

RateLimitError: You exceeded your current quota, please check your plan and billing details.

#### 4.2. sentence length

In [44]:
import pandas as pd

df = pd.read_csv("./large_blog_post_dataset.csv")
df

,Topic,Content
0,Multi-tiered user-facing matrices,['Different money right Democrat computer. Cle...
1,Multi-channeled multi-tasking ability,['Across important people church hour boy. Stu...
2,Inverse systemic contingency,['Fear course stock arm policy party fly. Natu...
3,Optimized static knowledgebase,['Whom letter song information sport energy su...
4,Proactive uniform policy,['Example kind ability agreement event. Book s...
...,...,...
9995,Optimized context-sensitive product,['Race building usually serious ability. Lead ...
9996,Sharable zero-defect intranet,['Should manage provide beautiful could or mig...
9997,Reverse-engineered bandwidth-monitored intranet,['Other way PM realize threat left. Interview ...
9998,Business-focused uniform hub,['Nation resource able hit. Man write represen...
9999,User-friendly motivating emulation,['Work like believe worry into risk. Sense be ...

In [48]:
import pandas as pd
import nltk
nltk.download('punkt')  # Download the punkt tokenizer

from nltk.tokenize import sent_tokenize

# Load the dataset
df = pd.read_csv('large_blog_post_dataset.csv')

# Function to calculate the average sentence length for a given paragraph
def avg_sentence_length(paragraph):
    sentences = sent_tokenize(paragraph)
    total_words = sum(len(sentence.split()) for sentence in sentences)
    num_sentences = len(sentences)
    return total_words / num_sentences if num_sentences > 0 else 0

# Calculate the average sentence length for each blog post
df['Average_Sentence_Length'] = df['Content'].apply(lambda x: avg_sentence_length(x))

# Save the updated dataset to a new CSV file
df.to_csv('large_blog_post_dataset_with_sentence_length.csv', index=False)
df

[nltk_data] Error loading punkt: <urlopen error [WinError 10060] A
[nltk_data]     connection attempt failed because the connected party
[nltk_data]     did not properly respond after a period of time, or
[nltk_data]     established connection failed because connected host
[nltk_data]     has failed to respond>

,Topic,Content,Average_Sentence_Length
0,Multi-tiered user-facing matrices,['Different money right Democrat computer. Cle...,5.789474
1,Multi-channeled multi-tasking ability,['Across important people church hour boy. Stu...,6.000000
2,Inverse systemic contingency,['Fear course stock arm policy party fly. Natu...,5.733333
3,Optimized static knowledgebase,['Whom letter song information sport energy su...,6.000000
4,Proactive uniform policy,['Example kind ability agreement event. Book s...,5.904762
...,...,...,...
9995,Optimized context-sensitive product,['Race building usually serious ability. Lead ...,5.892857
9996,Sharable zero-defect intranet,['Should manage provide beautiful could or mig...,6.166667
9997,Reverse-engineered bandwidth-monitored intranet,['Other way PM realize threat left. Interview ...,6.150000
9998,Business-focused uniform hub,['Nation resource able hit. Man write represen...,5.407407
9999,User-friendly motivating emulation,['Work like believe worry into risk. Sense be ...,6.642857

#### 4.3 TF-IDF Score

In [3]:
import pandas as pd

df = pd.read_csv("./huge_news_articles_dataset.csv")

In [4]:
df

                                                Article    Category
0     Whole per city Democrat. Bar collection can lo...      sports
1     Question cell prove all. Involve cell particul...      sports
2     Manage mean decision smile against interest sp...      sports
3     Go far their. Want have drop mission other sec...      sports
4     Toward medical administration act. Discussion ...      sports
...                                                 ...         ...
2995  Design allow not forget guy last. Exactly ever...  technology
2996  Story door memory relate forget. Scientist qui...  technology
2997  During such whose four child conference expect...  technology
2998  Fact yeah happen lose compare. Start pay fast ...  technology
2999  Win appear alone speak. A smile discover fine ...  technology

[3000 rows x 2 columns]

In [5]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.naive_bayes import MultinomialNB
from sklearn.metrics import accuracy_score, classification_report

# Load the generated dataset
df = pd.read_csv('huge_news_articles_dataset.csv')

# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(df['Article'], df['Category'], test_size=0.2, random_state=42)

# Initialize the TF-IDF vectorizer
tfidf_vectorizer = TfidfVectorizer(stop_words='english')

# Fit and transform the training data
X_train_tfidf = tfidf_vectorizer.fit_transform(X_train)

# Transform the testing data
X_test_tfidf = tfidf_vectorizer.transform(X_test)

# Initialize the Naive Bayes classifier
nb_classifier = MultinomialNB()

# Train the classifier on the training data
nb_classifier.fit(X_train_tfidf, y_train)

# Make predictions on the test data
y_pred = nb_classifier.predict(X_test_tfidf)

# Calculate accuracy and print classification report
accuracy = accuracy_score(y_test, y_pred)
print("Accuracy:", accuracy)
print("\nClassification Report:\n", classification_report(y_test, y_pred))

Accuracy: 0.3516666666666667

Classification Report:
               precision    recall  f1-score   support

    politics       0.35      0.38      0.37       197
      sports       0.39      0.30      0.34       217
  technology       0.32      0.38      0.35       186

    accuracy                           0.35       600
   macro avg       0.36      0.35      0.35       600
weighted avg       0.36      0.35      0.35       600

In [9]:
X_train

642     Money special factor six school two. Necessary...
700     Two nor under suddenly opportunity. Lot six mo...
226     Pattern quickly special bring. Skill PM Congre...
1697    Sort civil weight test. Born second bit seven ...
1010    Prove sister arm officer each police around. E...
                              ...
1638    Cold civil nice. Work nothing family style blu...
1095    Smile agency professional time. There meeting ...
1130    Partner network do might. Air ten name. Main p...
1294    Suddenly herself green challenge lose. Husband...
860     Require see beyond newspaper. Discover somethi...
Name: Article, Length: 2400, dtype: object

In [10]:
X_test

1801    Place through feeling break. Begin her have ap...
1190    Institution catch significant land center acti...
1817    Material almost financial dark beat. Player bo...
251     Growth radio that set. Discover card then grou...
2505    Listen board simple available. Be recognize wi...
                              ...
104     Under traditional improve whatever so sort cha...
2087    Nearly fast he sit herself. Travel officer din...
599     Alone direction hour class without herself. Gi...
1756    Subject term enough color paper. Day policy ch...
1323    Degree draw land service. Guess affect player ...
Name: Article, Length: 600, dtype: object

In [12]:
y_test

1801      politics
1190      politics
1817      politics
251         sports
2505    technology
           ...
104         sports
2087    technology
599         sports
1756      politics
1323      politics
Name: Category, Length: 600, dtype: object

In [11]:
y_train

642       sports
700       sports
226       sports
1697    politics
1010    politics
          ...
1638    politics
1095    politics
1130    politics
1294    politics
860       sports
Name: Category, Length: 2400, dtype: object

In [6]:
tfidf_vectorizer

TfidfVectorizer(stop_words='english')

In [8]:
print(X_train_tfidf)

  (0, 307)	0.26519057507657895
  (0, 661)	0.25620811173055813
  (0, 587)	0.2729563002463905
  (0, 145)	0.27025259060619167
  (0, 95)	0.25349403940525406
  (0, 37)	0.25218241491905036
  (0, 554)	0.2660046662298726
  (0, 618)	0.2541609467594161
  (0, 85)	0.24841385807898678
  (0, 633)	0.2605286258920188
  (0, 429)	0.25905303221335474
  (0, 582)	0.2597862177023481
  (0, 228)	0.25483547607689533
  (0, 636)	0.25551780359387916
  (0, 413)	0.24262287620024703
  (1, 204)	0.18626111779749616
  (1, 535)	0.17946728197566447
  (1, 579)	0.18459159653569995
  (1, 701)	0.17946728197566447
  (1, 715)	0.17712461492317466
  (1, 709)	0.17578003732673575
  (1, 681)	0.18093918245174584
  (1, 342)	0.18351480417727417
  (1, 149)	0.1789880376209935
  (1, 677)	0.18351480417727417
  :	:
  (2398, 132)	0.26499243169176145
  (2398, 399)	0.25162102239518785
  (2398, 167)	0.25364772928945345
  (2398, 437)	0.263346383195559
  (2398, 560)	0.2564642194294272
  (2398, 326)	0.2641636113066065
  (2398, 104)	0.25364772928945345
  (2398, 141)	0.2564642194294272
  (2398, 275)	0.26096111905303726
  (2398, 612)	0.26018718909695154
  (2398, 372)	0.2557472673983315
  (2398, 296)	0.2529643196573541
  (2398, 668)	0.258669419153802
  (2399, 21)	0.2892493161955493
  (2399, 434)	0.2845401444168437
  (2399, 181)	0.2952056587982424
  (2399, 530)	0.2801451585232516
  (2399, 339)	0.2845401444168437
  (2399, 376)	0.2884407126203573
  (2399, 362)	0.2961022762290237
  (2399, 408)	0.28530200682788254
  (2399, 549)	0.2970112611862702
  (2399, 558)	0.2845401444168437
  (2399, 494)	0.2892493161955493
  (2399, 91)	0.2892493161955493

In [13]:
print(X_test_tfidf)

  (0, 751)	0.16060977156435732
  (0, 739)	0.16479135462540637
  (0, 716)	0.16149891903150373
  (0, 715)	0.1576563689932302
  (0, 712)	0.16241002296129198
  (0, 711)	0.1657886541027081
  (0, 661)	0.16017310570611193
  (0, 618)	0.1588932837320699
  (0, 610)	0.1588932837320699
  (0, 607)	0.1633441952471806
  (0, 598)	0.16895326408727923
  (0, 581)	0.16241002296129198
  (0, 565)	0.1657886541027081
  (0, 543)	0.1610516670781116
  (0, 535)	0.1597415471680187
  (0, 532)	0.15380936350190763
  (0, 481)	0.16950812919571448
  (0, 468)	0.16241002296129198
  (0, 446)	0.16430263444244828
  (0, 431)	0.1597415471680187
  (0, 430)	0.15606912064291806
  (0, 386)	0.15685421056687981
  (0, 330)	0.1597415471680187
  (0, 304)	0.16060977156435732
  (0, 246)	0.16681365985830116
  :	:
  (598, 365)	0.1579525581513785
  (598, 348)	0.16246256456937125
  (598, 307)	0.1639319418914426
  (598, 294)	0.1659879565503847
  (598, 212)	0.16013791821726123
  (598, 167)	0.15837928354807318
  (598, 159)	0.16443518580800162
  (598, 126)	0.16105008086525988
  (598, 110)	0.16246256456937125
  (598, 106)	0.15711379464827144
  (598, 26)	0.15837928354807318
  (598, 19)	0.16059114895874818
  (598, 13)	0.15837928354807318
  (599, 605)	0.3036397217733734
  (599, 599)	0.29210249008888717
  (599, 500)	0.3015694644848148
  (599, 485)	0.2737855120155451
  (599, 399)	0.28080385225768095
  (599, 342)	0.28866971713343403
  (599, 280)	0.2957260682349094
  (599, 209)	0.28783903548773176
  (599, 199)	0.28701880294506454
  (599, 187)	0.2830656151973973
  (599, 167)	0.2830656151973973
  (599, 14)	0.28540865626496287

#### 4.4 Part-of-Speech (POS) Tags

In [26]:
import pandas as pd
df = pd.read_csv('huge_movie_reviews_dataset.csv')

In [27]:
df

                                                Review Sentiment
0         This movie is amazing very good! I loved it.  positive
1         This movie is great highly good! I loved it.  positive
2                     This movie is bad. I dislike it.  negative
3                      This movie is bad. I regret it.  negative
4                   This movie is horrible. I hate it.  negative
...                                                ...       ...
4995             This movie is terrible. I dislike it.  negative
4996  This movie is great incredibly good! I loved it.  positive
4997                This movie is awful. I dislike it.  negative
4998    This movie is fantastic very good! I loved it.  positive
4999    This movie is fantastic very good! I loved it.  positive

[5000 rows x 2 columns]

In [40]:
import pandas as pd
import random

df = pd.read_csv('huge_movie_reviews_dataset.csv')

# POS tagging based on specific words or patterns
def pos_tagging(review):
    words = review.lower().split()
    pos_tags = {'adjective': 0, 'adverb': 0, 'verb': 0}
    adjectives = ['great', 'excellent', 'amazing', 'wonderful', 'fantastic', 'terrible', 'awful', 'horrible', 'bad', 'disappointing']
    adverbs = ['very', 'extremely', 'incredibly', 'highly']
    verbs = ['love', 'loved', 'like', 'liked', 'enjoy', 'enjoyed', 'hate', 'dislike', 'regret']

    for word in words:
        if word in adjectives:
            pos_tags['adjective'] += 1
        elif word in adverbs:
            pos_tags['adverb'] += 1
        elif word in verbs:
            pos_tags['verb'] += 1

    return pos_tags

df['POS Tags'] = df['Review'].apply(pos_tagging)

# Save the dataset to a CSV file
df.to_csv('movie_reviews_with_pos_tags.csv', index=False)

In [41]:
df

,Review,Sentiment,POS Tags
0,This movie is amazing very good! I loved it.,positive,"{'adjective': 1, 'adverb': 1, 'verb': 1}"
1,This movie is great highly good! I loved it.,positive,"{'adjective': 1, 'adverb': 1, 'verb': 1}"
2,This movie is bad. I dislike it.,negative,"{'adjective': 0, 'adverb': 0, 'verb': 1}"
3,This movie is bad. I regret it.,negative,"{'adjective': 0, 'adverb': 0, 'verb': 1}"
4,This movie is horrible. I hate it.,negative,"{'adjective': 0, 'adverb': 0, 'verb': 1}"
...,...,...,...
4995,This movie is terrible. I dislike it.,negative,"{'adjective': 0, 'adverb': 0, 'verb': 1}"
4996,This movie is great incredibly good! I loved it.,positive,"{'adjective': 1, 'adverb': 1, 'verb': 1}"
4997,This movie is awful. I dislike it.,negative,"{'adjective': 0, 'adverb': 0, 'verb': 1}"
4998,This movie is fantastic very good! I loved it.,positive,"{'adjective': 1, 'adverb': 1, 'verb': 1}"
4999,This movie is fantastic very good! I loved it.,positive,"{'adjective': 1, 'adverb': 1, 'verb': 1}"

#### 4.5 Named Entity Recognition (NER)

In [1]:
def find_named_entities(text):
    named_entities = {
        'Conference Name': [],
        'Location': [],
        'Attendees': [],
        'Companies': [],
        'Keynote Topic': [],
        'Exhibitors': [],
        'Announcement': [],
        'Other Entities': []
    }
    
    # Convert the text to lowercase for case-insensitive matching
    text = text.lower()
    
    # Define patterns to identify named entities
    conference_name_patterns = ['techx conference']
    location_patterns = ['silicon valley', 'techx center']
    attendees_patterns = ['dr. emily williams', 'john anderson', 'sarah lee']
    companies_patterns = ['innovatetech', 'globaltech', 'techconnect', 'google', 'microsoft', 'apple',
                          'techsolutions', 'dataviz', 'cybershield']
    keynote_topic_patterns = ['future of artificial intelligence and its impact on various industries']
    exhibitors_patterns = ['techsolutions', 'dataviz', 'cybershield']
    announcement_patterns = ['innovatetech and dataviz to develop groundbreaking ai-powered tools']
    
    # Loop through each word in the text to find named entities
    words = text.split()
    for i in range(len(words)):
        word = words[i]
        
        if word in conference_name_patterns:
            named_entities['Conference Name'].append(word)
            
        if word in location_patterns:
            named_entities['Location'].append(word)
            
        if word in attendees_patterns:
            named_entities['Attendees'].append(word)
            
        if word in companies_patterns:
            named_entities['Companies'].append(word)
            
        if word in keynote_topic_patterns:
            named_entities['Keynote Topic'].append(word)
            
        if word in exhibitors_patterns:
            named_entities['Exhibitors'].append(word)
            
        if word in announcement_patterns:
            named_entities['Announcement'].append(word)
            
    # Clean up the named entities lists (remove duplicates)
    for key, value in named_entities.items():
        named_entities[key] = list(set(value))
    
    return named_entities


# Example news article text
news_article = """
News Article: Technology Conference in Silicon Valley

In the bustling tech hub of Silicon Valley, the annual TechX Conference took place this week, bringing together industry leaders, innovators, and enthusiasts from around the globe. The event, held at the state-of-the-art TechX Center, featured insightful keynote speeches, interactive workshops, and exciting product demonstrations.

Prominent attendees included Dr. Emily Williams, CEO of InnovateTech; John Anderson, Chief Technology Officer at GlobalTech; and Sarah Lee, Founder and CEO of TechConnect.

The conference kicked off with a keynote address by Dr. Williams, who discussed the future of artificial intelligence and its impact on various industries. Her thought-provoking speech resonated with the audience and sparked engaging discussions throughout the event.

TechX also welcomed renowned speakers from leading companies such as Google, Microsoft, and Apple. Their presentations covered cutting-edge technologies, data analytics, and the growing importance of cybersecurity in the digital age.

The conference's exhibition hall was abuzz with activity, as attendees explored the latest products and solutions offered by tech startups and established corporations alike. Notable exhibitors included TechSolutions, DataViz, and CyberShield.

During the event, several exciting announcements were made, including a partnership between InnovateTech and DataViz to develop groundbreaking AI-powered tools for businesses. This collaboration is expected to drive innovation and create new opportunities for companies in various sectors.

The TechX Conference served as a platform for networking and collaboration, fostering connections among professionals and visionaries. Attendees left the event feeling inspired and equipped with new knowledge and insights to fuel their future endeavors.

The successful conclusion of the TechX Conference marks another milestone in the ever-evolving world of technology, setting the stage for future advancements and breakthroughs in the industry.
"""

# Call the function to find named entities
named_entities = find_named_entities(news_article)

# Print the identified named entities
for key, value in named_entities.items():
    print(f"{key}: {value}")

Conference Name: []
Location: []
Attendees: []
Companies: ['dataviz', 'innovatetech']
Keynote Topic: []
Exhibitors: ['dataviz']
Announcement: []
Other Entities: []

#### 4.6 Sentiment scores

In [18]:
df = pd.read_csv("./huge_review_data.csv")
df

                                                 Review Sentiment
0     I absolutely loved the place! The staff was fr...   neutral
1     Highly recommended! The dishes were flavorful,...   neutral
2     The restaurant was disappointing. The food was...  positive
3     The restaurant is just okay. Nothing special, ...  positive
4     The restaurant is just okay. Nothing special, ...  positive
...                                                 ...       ...
9995  The restaurant was disappointing. The food was...  positive
9996  I absolutely loved the place! The staff was fr...  positive
9997  The restaurant was disappointing. The food was...   neutral
9998  Terrible experience. The food was tasteless, a...  negative
9999  I absolutely loved the place! The staff was fr...  positive

[10000 rows x 2 columns]

In [19]:
# Function to calculate sentiment scores
def calculate_sentiment_score(review_text):
    # Pre-defined lists of positive and negative words
    positive_words = ['delicious', 'excellent', 'friendly', 'recommended', 'flavorful', 'top-notch']
    negative_words = ['disappointing', 'cold', 'slow', 'terrible', 'tasteless', 'rude']

    # Tokenize the review text and convert to lowercase
    words = review_text.lower().split()

    # Calculate the number of positive and negative words in the review
    num_positive_words = sum(1 for word in words if word in positive_words)
    num_negative_words = sum(1 for word in words if word in negative_words)

    # Calculate the sentiment score as the difference between positive and negative word counts
    sentiment_score = num_positive_words - num_negative_words
    return sentiment_score

# Load the generated review data
import pandas as pd

df = pd.read_csv('huge_review_data.csv')

# Calculate sentiment scores for each review
df['Sentiment Score'] = df['Review'].apply(calculate_sentiment_score)

# Display the data frame with sentiment scores
print(df)

                                                 Review Sentiment  \
0     I absolutely loved the place! The staff was fr...   neutral
1     Highly recommended! The dishes were flavorful,...   neutral
2     The restaurant was disappointing. The food was...  positive
3     The restaurant is just okay. Nothing special, ...  positive
4     The restaurant is just okay. Nothing special, ...  positive
...                                                 ...       ...
9995  The restaurant was disappointing. The food was...  positive
9996  I absolutely loved the place! The staff was fr...  positive
9997  The restaurant was disappointing. The food was...   neutral
9998  Terrible experience. The food was tasteless, a...  negative
9999  I absolutely loved the place! The staff was fr...  positive

      Sentiment Score
0                   1
1                   0
2                  -1
3                   0
4                   0
...               ...
9995               -1
9996                1
9997               -1
9998               -1
9999                1

[10000 rows x 3 columns]

In [15]:
df

,Review,Sentiment,Sentiment Score
0,I absolutely loved the place! The staff was fr...,neutral,1
1,"Highly recommended! The dishes were flavorful,...",neutral,0
2,The restaurant was disappointing. The food was...,positive,-1
3,"The restaurant is just okay. Nothing special, ...",positive,0
4,"The restaurant is just okay. Nothing special, ...",positive,0
...,...,...,...
9995,The restaurant was disappointing. The food was...,positive,-1
9996,I absolutely loved the place! The staff was fr...,positive,1
9997,The restaurant was disappointing. The food was...,neutral,-1
9998,"Terrible experience. The food was tasteless, a...",negative,-1
9999,I absolutely loved the place! The staff was fr...,positive,1